  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>About Me</h1>
      <h2>Hi, I’m Caleb, Zhicong Lu from University of Toronto. I'm a Master candidate of Computer Science supervised by Professor <a href="http://www.dgp.toronto.edu/~dwigdor/">Daniel Wigdor</a>. Previously I was a Master of Interdisciplinary Studies of Information and Art Design in Tsinghua University, China, supervised by Prof. Ying-Qing Xu and Prof. Yuanchun Shi. Before starting my master, I had a bachelor of Electronic Engineering and Game Design at Tsinghua University. I'm interested in HCI for sustainability and education.</h2>
      <hr />
    </div>
  </div>
  <div class ="container">
