  <!--</div> -->
  <!--<div class="container">-->
    <div id="welcome-greeting">
      <h1>About Me</h1>
        <h2>I’m Caleb, Zhicong Lu, an HCI researcher at <a target="_blank" href="http://www.dgp.toronto.edu/">DGP Lab</a>, <a target="_blank" href="http://www.cs.toronto.edu/">University of Toronto</a>. I'm a PhD student in Computer Science supervised by Professor <a target="_blank" href="http://www.dgp.toronto.edu/~dwigdor/">Daniel Wigdor</a>. Previously I was a Master of Interdisciplinary Studies of Information and Art Design in Tsinghua University, China, supervised by Professor <a target="_blank" href="http://www.x-studio.org.cn/~yqxu">Ying-Qing Xu</a> and Professor <a target="_blank" href="http://media.cs.tsinghua.edu.cn/~pervasive/shiyc/">Yuanchun Shi</a>. Before starting my master, I had a bachelor of Electronic Engineering and Game Design at Tsinghua University. </h2>
        <h2> I am interested in HCI, social computing, computational social science, and machine learning, especially in studying, designing, and building systems that support social interactions, to enhance trust, engagement, and knowledge sharing in virtual and physical spaces. I am currently exploring how to leverage live streaming for sharing informal knowledge and safeguarding <a href="https://ich.unesco.org/en/what-is-intangible-heritage-00003">Intangible Cultural Heritage (ICH)</a>.</h2>
      <hr />
    </div>
  <!--</div>-->
  <!--<div class ="container">-->
