  <!--</div> -->
  <!--<div class="container">-->
    <div id="welcome-greeting">
      <h1>About Me</h1>
      <h2>I’m Caleb, Zhicong Lu, an HCI researcher at <a target="_blank" href="http://www.dgp.toronto.edu/">DGP Lab</a>, <a target="_blank" href="http://www.cs.toronto.edu/">University of Toronto</a>. I'm a Master candidate of Computer Science supervised by Professor <a target="_blank" href="http://www.dgp.toronto.edu/~dwigdor/">Daniel Wigdor</a>. Previously I was a Master of Interdisciplinary Studies of Information and Art Design in Tsinghua University, China, supervised by Professor <a target="_blank" href="http://www.x-studio.org.cn/~yqxu">Ying-Qing Xu</a> and Professor <a target="_blank" href="http://media.cs.tsinghua.edu.cn/~pervasive/shiyc/">Yuanchun Shi</a>. Before starting my master, I had a bachelor of Electronic Engineering and Game Design at Tsinghua University. I'm interested in HCI and Machine Learning for sustainability and education.</h2>
      <hr />
    </div>
  <!--</div>-->
  <!--<div class ="container">-->
