<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand"><a href="{{ site.baseurl }}/">{{ site.name }}</a></p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
      <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
      <!-- <li><a href="{{ site.baseurl }}/blogs">Blogs</a></li> -->
      <li><a href="{{ site.baseurl }}/about">About</a></li>
<!--      <li><a href="{{ site.baseurl }}/links">Links</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">    <a href="{{ site.baseurl }}/">
    		<img src="{{ site.baseurl }}/images/luzhc.jpg" class="img-circle" style="border-radius: 50%;
    border: 3px solid #FFF; height:150px;width:150px" />
      </a>
    </li>
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3><h3>{{ site.description1 }}</h3></li>
    <hr />
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
    <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
    <!-- <li><a href="{{ site.baseurl }}/blogs">Blogs</a></li> -->
    <li><a href="{{ site.baseurl }}/about">About</a></li>
    <li><a href="{{ site.baseurl }}/media/Zhicong_CV.pdf">Download CV</a></li>
<!--    <li><a href="{{ site.baseurl }}/links">Links</a></li>-->
    <hr />
    <div id="social-wrapper">
      <li> <a href="{{ site.twitter }}"><i class="fa fa-twitter-square"></i> @luzc08</a></li>
      <li> <a href="{{ site.linkedin }}"><i class="fa fa-linkedin-square"></i> linkedin</a> </li>
      <li> <a href="{{ site.facebook }}"><i class="fa fa-facebook-square"></i> facebook</a></li>
      <li> <a href="{{ site.github }}"><i class="fa fa-github-square"></i> github</a> </li>
<!--      <li> <a href="{{ site.google-plus }}"><i class="fa fa-google-plus-square"></i> Google+</a> </li>-->
      <li> <a href="{{ site.google-scholar }}"><i class="ai ai-google-scholar-square"></i> Google Scholar</a> </li>
    </div>
  </ul>
</div>
